<div class="main">
  <div class="area1">
    <h1>ADD RECEITAS</h1>
    <!-- FORMULÁRIO DE ADIÇÃO DE RECEITA -->
    <form (ngSubmit)="saveRecipe()">
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="recipe.title" name="title">
      </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="recipe.description" name="description">
      </div>
      <!-- ADIÇÃO DE INGREDIENTE -->
      <div class="form-group">
        <label for="ingredientName">Ingrediente</label>
        <input type="text" class="form-control" id="ingredientName" [(ngModel)]="ingredientName" name="ingredientName">
        <button type="button" (click)="addItem()" class="btn btn-sm btn-primary ml-2">Adicionar Item</button>
      </div>
      <ul class="list-group mt-2">
        <h1>LISTA DE ITENS</h1>
        <li *ngFor="let item of items " class="list-group-item text-secondary">
          {{ item }}
        </li>
      </ul>
      <!-- BOTÃO DE SALVAR -->
      <button type="submit" class="btn btn-primary">Salvar Receita</button>
    </form>
  </div>
  
  <!-- ÁREA DE CONFIRMAÇÃO -->
  <div class="area2">
    <div *ngIf="submitted" class="alert alert-success">
      Receita adicionada com sucesso!
      <button (click)="newRecipe()" class="btn btn-sm btn-success">Adicionar Nova Receita</button>
    </div>
  </div>
</div>
